{% extends "blog/base.html" %}

{% block title %}
    Add Post :: {{ block.super}}
{% endblock %}

{% block sidebar %}
      {% include 'blog/inc/_sidebar.html' %}
{% endblock %}

{% block body %}

<form action="{% url 'add_post' %}" method="post">
    <div class="row">
        <!-- Post content-->
        <div class="d-flex ">
            <div class="col-lg-9">
`

                    <h1>Add New Post</h1>
                    Please fill out the following form and click the <big>Add Post</big> button.
                    <hr />

                    <div class="mb-3">
                      <label for="add_post_title" class="form-label">Post Title</label>
                      <textarea class="form-control" id="add_post_title" rows="1" placeholder="Post Title"></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="add_post_text" class="form-label">Post Text</label>
                      <textarea class="form-control" id="add_post_text" rows="3" placeholder="Post Text"></textarea>
                    <button class="btn btn-primary mt-3" type="submit">Add Post</button>
                    </div>

            </div>
        </div>

    </div>

</form>
{% endblock %}