{% extends "blog/base.html" %}

{% block title %}
    {{ category.title }} :: {{ block.super }}
{% endblock %}

{% block body %}
    {% if post_list %}
        {% for post in post_list %}
            <div class="card mb-3">
                <div class="card-header">
                    Категория: <a href="{{ post.category.get_absolute_url }}"> {{ post.category}}</a>
                </div>

                <div class="card-body">
                    <img src="..." class="card-img-top" alt="...">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.clipped_text }}</p>
                    <a href="/view/{{ post.id }}" class="btn btn-primary">Read...</a>
                </div>
            </div>

        {% endfor %}
    {% else %}
        <p>No Posts are available.</p>
    {% endif %}
{% endblock %}

