{% extends "blog/base.html" %}

{% block title %}Search:: {{ block.super }}{% endblock %}

{% block body %}

<form method="get" class="d-flex mb-5" >
  <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>

{% for item in res %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">{{ item.clipped_text }}</p>
            <a href="/view/{{ item.id }}" class="btn btn-primary">Read...</a>
        </div>
    </div>
{% endfor %}

{% endblock %}