{% extends "blog/base.html" %}

{% block title %}
    {{ post.title }} :: {{ block.super }}
{% endblock %}


        <div class="col-md-3">
            {% include "blog/inc/_sidebar.html" %}
        </div>

{% block sidebar %}
    {% include 'blog/inc/_sidebar.html' %}
{% endblock %}

{% block body %}


        <!-- Post content-->

            <!-- Title-->
            <h1 class="mt-4">{{post.title}}</h1>
            <!-- Author-->
            <p class="lead">
                by
                <a href="{% url 'user' post.id %}">{{post.owner.last_name}} {{post.owner.first_name}}</a>
            </p>
            <hr />
            <!-- Date and time-->
            <p>Posted on {{post.created_at}}</p>
            <p>Views {{post.views}}</p>
            <hr />

            <!-- Preview image-->
            <img class="img-fluid rounded" src="https://via.placeholder.com/300x300" alt="..." />
            <hr />

            <!-- Post content-->
            <p class="lead">{{post.text}}</p>
            <hr />

            <!-- Comments form-->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button class="btn btn-primary" type="submit">Add</button>
                    </form>
                </div>
            </div>

            <!-- Single comment-->
            {% for comment in comments %}
            <div class="media mb-4">
                <div class="media-body">
                    <h5 class="mt-0"><a href="/user/{{comment.owner.id}}"> {{ comment.owner.last_name }} {{ comment.owner.first_name }} </a></h5>
                    {{ comment.text }}
                </div>
            </div>
            {% endfor %}


{% endblock %}

